/* Global */
*{
	position: relative;
	box-sizing: border-box;
	word-break: break-all;
}

body{

}

.margin0{
	margin-bottom: 0px;
}

.color-primary{
	background-color: #26453D;
}

.wrapper{
	overflow: hidden;
}

.main-bg{
	background: white;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.givePadding{
	padding-top: 20px;
	padding-bottom: 30px;
}

.givePaddingTop{
	padding-top: 20px;
}

/* letter */
.letter{

}

/* instruction */
.instruction-head{
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: justify;
}

.instruction{

}

.instruction-text{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: justify;
}
.instruction ol{
	margin-left: -15px;
}

/* answer */
.answer{
	background: #A5DEE4;
	text-align: center;
}

/* clue */
.clue-head{
	color:#fff;
}

/* footer */
.footer{
	color: white;
}